body {
    background-color: grey;
    margin: 0;
}
.bloc {
    background-color: white;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 650px;
    height: 350px;
    padding: 25px;

}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    text-align: center;
}
p {
    text-align: center;
}
 h1 {
    text-align: center;
 }

/* Overlay */
.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }
   /* Apparition overlay sur passage souris */
   .overlay-image:hover .hover {
    opacity: 1;
   }